.idea
target
*.iml
javaqa-team-diplom-2/Баг репорт 3 Неправильный расчет годовых процентов.md

javaqa-team-diplom-2/Баг-репорт 5 Логическая ошибка в условии метода (pay).md
javaqa-team-diplom-2/Баг-репорт 1 Некорректная работа метода оплаты (pay).md
javaqa-team-diplom-2/Баг-репорт 2 Некорректное пополнение счёта.md
javaqa-team-diplom-2/Баг репорт 3 Неправильный расчет годовых процентов.md
javaqa-team-diplom-2/Баг-репорт 4 Отсутствие валидации параметров в конструкторе.md
javaqa-team-diplom-2/2025-11-06_20-57-28.png
javaqa-team-diplom-2/image-1.png
javaqa-team-diplom-2/image-2.png
javaqa-team-diplom-2/image-3.png
javaqa-team-diplom-2/image.png

